body {
    margin: 0;
    background-color: white;
}

footer {
    text-align: center;
    height: 26px;
    background-color: lightcyan;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

// textarea {
//     height: 90vh;
//     width: 80%;
// }

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

/* Testing out stuff */
#entry-form {
    margin: 0 40px;
    label{
        display: block;
        margin: 10px 0;
    }
    #id_content {
        max-width: 1200px;
        min-width: 600px;
        width: 70%;
        height: 200px;
    }
    // label[for=id_content] {
    //     display: block;
    //     margin: 15px;
    // }

    #id_title {
        width: 320px;
    }
    // label[for=id_content] {
    //     display: block;
    //     margin: 15px;
    // }   
}

// To make the grid layout
#layout-grid {
    display: grid;
    grid-gap: 0;

}

#nav-grid {
    background-color: linen;
    a {
        font-size: 18px;
        text-decoration: none;
        border: 1px solid lightskyblue;
    }
}

#main-grid {
    font-size: 16px;
    
}

@media (max-width: 599px) {
    #layout-grid {
        grid-template-columns: 100%; // auto
        
        #nav-grid {
            a {
                font-size: 12px;
                padding: 2px 7px;
                margin: 4px 12px;
            }
            
            #search {
                max-width: 500px;
                width: 100%;
                margin: 7px 5%;
            }
        }
        
        #main-grid {
            #search {
                // max-width: 600px;
                // width: 80%;
                width: 100%
            }
        }
    }
}

@media (min-width: 600px) {
    #layout-grid {
        // margin: 0 5%;
        grid-template-columns: 25% 75%;
        
        #nav-grid {
            grid-column: 1 / 2;
            a {
                margin: 0 10px;
                line-height: 40px;
                padding: 4px 12px;
            }

            #search {
                max-width: 280px;
                width: 100%;
                margin: 9px 6px;
            }
        }

        #main-grid {
            grid-column: 2 / 3;
        }
    }
}
