{% extends 'encyclopedia/layout.html' %}

{% block title %}Create New Page{% endblock %}

{% block body %}
<!-- Form goes here -->
{% if error %}
<!-- Warrning element with css for later -->
<h3 style="color: rgb(240, 132, 0);">A page with that name already exists!</h3>
{% endif %}
<form id="entry-form" action="{% url 'encyclopedia:new_page' %}" method="POST">
        <h1>Create a new page</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <input id="button" type="submit" value="Create Page">
    </form>
{% endblock %}
